<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SiGawai | Profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <style>
        /* Ganti ukuran ikon profil */
        .profile-icon {
            font-size: 100px;
            /* Atur ukuran sesuai keinginan Anda */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">SiGawai</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/beranda/' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/profil/' %}active{% endif %}" href="{% url 'profile' %}">Profil {{ username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/signout/' %}active{% endif %}" href="{% url 'signout' %}">Keluar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-5">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.tags == 'warning' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <!-- Tampilkan pesan jika profil belum dilengkapi -->
                        {% if not pegawai %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Data Profil Anda belum lengkap! Silahkan melengkapi Data Profil Anda!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        <!-- Tampilkan data pegawai -->
                        <div class="container-fluid">
                            <!-- Button trigger modal edit profil -->
                            <div class="container-fluid text-end">
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editProfil">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </div>
                            <!-- Modal edit profil -->
                            <div class="modal fade" id="editProfil" tabindex="-1" aria-labelledby="editProfilLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <form method="post" action="{% url 'add_pegawai' %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editProfilLabel">Edit Profil</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Tampilkan data pegawai -->
                                                <div class="pegawai">
                                                    {% if pegawai %}
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        Data Profil Anda sudah lengkap!
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                    {% else %}
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        Data Profil Anda belum lengkap! Silahkan melengkapi Data Profil Anda!
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                    {% endif %}
                                                    <div class="form-floating mb-1" hidden>
                                                        <select name="aktif_pegawai" class="form-select" id="floatingSelectStatusPegawai" aria-label="Pilih Status Pegawai" required>
                                                            <option value="0">Tidak Aktif</option>
                                                            <option value="1" selected>Aktif</option>
                                                        </select>
                                                        <label for="floatingSelectStatusPegawai">Status Pegawai</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="nip_pegawai" type="text" class="form-control" id="floatingInputNIP" placeholder="Nomor Induk Pegawai" value="{{ pegawai.nip_pegawai }}" required>
                                                        <label for="floatingInputNIP">NIP</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="nama_pegawai" type="text" class="form-control" id="floatingInputNama" placeholder="Nama Lengkap" value="{{ pegawai.nama_pegawai }}" required>
                                                        <label for="floatingInputNama">Nama</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="tempat_lahir_pegawai" type="text" class="form-control" id="floatingInputTempatLahir" placeholder="Tempat Lahir" value="{{ pegawai.tempat_lahir_pegawai }}" required>
                                                        <label for="floatingInputTempatLahir">Tempat Lahir</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="tanggal_lahir_pegawai" type="date" class="form-control" id="floatingInputTanggalLahir" placeholder="Tanggal Lahir" value="{{ tanggal_lahir_pegawai }}" required>
                                                        <label for="floatingInputTanggalLahir">Tanggal Lahir</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <select name="jenis_kelamin_pegawai" class="form-select" id="floatingSelectSex" aria-label="Pilih Jenis Kelamin" required>
                                                            <option value="" {% if not pegawai.jenis_kelamin_pegawai %}selected{% endif %}> ...</option>
                                                            <option value="Laki-Laki" {% if pegawai.jenis_kelamin_pegawai == "Laki-Laki" %}selected{% endif %}>Laki-Laki</option>
                                                            <option value="Perempuan" {% if pegawai.jenis_kelamin_pegawai == "Perempuan" %}selected{% endif %}>Perempuan</option>
                                                        </select>
                                                        <label for="floatingSelectSex">Jenis Kelamin</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="surel_pegawai" type="email" class="form-control" id="floatingInputSurel" placeholder="nama@contoh.com" value="{{ pegawai.surel_pegawai }}" required>
                                                        <label for="floatingInputSurel">Alamat Surel</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="telepon_pegawai" type="text" class="form-control" id="floatingInputTelepon" placeholder="Telepon" value="{{ pegawai.telepon_pegawai }}" required>
                                                        <label for="floatingInputTelepon">Telepon</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                                <button type="submit" class="btn btn-primary">Simpan</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="bi bi-file-person profile-icon"></i>
                        <h4 class="card-title">{{ pegawai.nama_pegawai }}</h4>
                        <p class="card-text text-body-tertiary">NIP. {{ pegawai.nip_pegawai }}</p>
                        <div class="container text-start">
                            <div class="row border-bottom mb-3">
                                {% if pegawai.aktif_pegawai %}
                                <h5>
                                    <i class="bi bi-person-check"></i>
                                    Status Pegawai
                                </h5>
                                <p class="card-text text-body-tertiary fs-6 fw-lighter">Aktif</p>
                                {% else %}
                                <h5>
                                    <i class="bi bi-person-dash"></i>
                                    Status Pegawai
                                </h5>
                                <p class="card-text text-body-tertiary fs-6 fw-lighter">Tidak Aktif</p>
                                {% endif %}
                            </div>
                            <div class="row border-bottom mb-3">
                                <h5>
                                    <i class="bi bi-bookmark-star"></i>
                                    Pangkat & Golongan
                                </h5>
                                <p class="card-text text-body-tertiary fs-6 fw-lighter">Belum Ada</p>
                            </div>
                            <div class="row border-bottom mb-3">
                                <h5>
                                    <i class="bi bi-briefcase"></i>
                                    Jabatan
                                </h5>
                                <p class="card-text text-body-tertiary fs-6 fw-lighter">{{ jabatan_terakhir.get_nama_jabatan_display }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <nav>
                            <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-pendidikan-tab" data-bs-toggle="tab" data-bs-target="#nav-pendidikan" type="button" role="tab" aria-controls="nav-pendidikan" aria-selected="true">Riwayat Pendidikan</button>
                                <button class="nav-link" id="nav-jabatan-tab" data-bs-toggle="tab" data-bs-target="#nav-jabatan" type="button" role="tab" aria-controls="nav-jabatan" aria-selected="false">Riwayat Jabatan</button>
                                <button class="nav-link" id="nav-pangkat-tab" data-bs-toggle="tab" data-bs-target="#nav-pangkat" type="button" role="tab" aria-controls="nav-pangkat" aria-selected="false">Pangkat & Golongan</button>
                                <button class="nav-link" id="nav-angkakredit-tab" data-bs-toggle="tab" data-bs-target="#nav-angkakredit" type="button" role="tab" aria-controls="nav-angkakredit" aria-selected="false">Angka Kredit</button>
                                <button class="nav-link" id="nav-diklat-tab" data-bs-toggle="tab" data-bs-target="#nav-diklat" type="button" role="tab" aria-controls="nav-diklat" aria-selected="false">Riwayat Diklat</button>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body">
                        {% if pegawai %}
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-pendidikan" role="tabpanel" aria-labelledby="nav-pendidikan-tab" tabindex="0">
                                <div class="row">
                                    <div class="col d-flex align-items-center">
                                        <h3 class="card-title">Tabel Riwayat Pendidikan</h3>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <!-- Button trigger modal tambah riwayat pendidikan -->
                                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#tambahPendidikan">
                                            <i class="bi bi-plus-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal tambah riwayat pendidikan -->
                                <div class="modal fade" id="tambahPendidikan" tabindex="-1" aria-labelledby="tambahPendidikanLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <form method="post" action="{% url 'add_pendidikan' %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="tambahPendidikanLabel">Edit Riwayat Pendidikan</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    <div class="form-floating mb-1">
                                                        <select name="tingkat_pendidikan" class="form-select" id="floatingSelectTingkatPendidikan" aria-label="Pilih Tingkat Pendidikan" required>
                                                            {% for pilihan in pilihan_tingkat_pendidikan %}
                                                                <option value="{{ pilihan.0 }}">{{ pilihan.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="floatingSelectTingkatPendidikan">Tingkat Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="lembaga_pendidikan" type="text" class="form-control" id="floatingLembagaPendidikan" placeholder="Lembaga Pendidikan" required>
                                                        <label for="floatingLembagaPendidikan">Lembaga Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="fakultas_pendidikan" type="text" class="form-control" id="floatingFakultasPendidikan" placeholder="Fakultas Pendidikan">
                                                        <label for="floatingFakultasPendidikan">Fakultas Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="jurusan_pendidikan" type="text" class="form-control" id="floatingJurusanPendidikan" placeholder="Jurusan Pendidikan">
                                                        <label for="floatingJurusanPendidikan">Jurusan Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="gelar_depan_pendidikan" type="text" class="form-control" id="floatingGelarDepanPendidikan" placeholder="Gelar Depan Pendidikan">
                                                        <label for="floatingGelarDepanPendidikan">Gelar Depan Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="gelar_belakang_pendidikan" type="text" class="form-control" id="floatingGelarBelakangPendidikan" placeholder="Gelar Belakang Pendidikan">
                                                        <label for="floatingGelarBelakangPendidikan">Gelar Belakang Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="nomor_seri_ijazah_pendidikan" type="text" class="form-control" id="floatingNomorSeriIjazahPendidikan" placeholder="Nomor Seri Ijazah Pendidikan" required>
                                                        <label for="floatingNomorSeriIjazahPendidikan">Nomor Seri Ijazah Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="tanggal_terbit_ijazah_pendidikan" type="date" class="form-control" id="floatingTanggalTerbitIjazahPendidikan" placeholder="Tanggal Terbit Ijazah Pendidikan" required>
                                                        <label for="floatingTanggalTerbitIjazahPendidikan">Tanggal Terbit Ijazah Pendidikan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="file_ijazah_pendidikan" type="file" class="form-control" id="floatingFileIjazahPendidikan" required>
                                                        <label for="floatingFileIjazahPendidikan">File Ijazah Pendidikan</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <table id="tabelPendidikan" class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tingkat Pendidikan</th>
                                            <th scope="col">Lembaga Pendidikan</th>
                                            <th scope="col">Jurusan Pendidikan</th>
                                            <th scope="col">Tanggal Terbit Ijazah</th>
                                            <th scope="col">File Ijazah</th>
                                            <th scope="col">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% if pendidikan %}
                                        {% for pend in pendidikan %}
                                        <tr>
                                            <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                                            <td class="align-middle">{{ pend.tingkat_pendidikan }}</td>
                                            <td class="align-middle">{{ pend.lembaga_pendidikan }}</td>
                                            <td class="align-middle">{{ pend.jurusan_pendidikan }}</td>
                                            <td class="align-middle">{{ pend.tanggal_terbit_ijazah_pendidikan }}</td>
                                            <td class="align-middle">
                                                <!-- Button trigger link lihat file ijazah -->
                                                <a href="{% url 'download_ijazah' pend.id_pendidikan %}" class="btn" target="_blank">
                                                    <i class="bi bi-box-arrow-up-right"></i>
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <!-- Button trigger modal edit pendidikan -->
                                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editPendidikan{{ pend.id_pendidikan }}">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                                <!-- Modal edit pendidikan -->
                                                <div class="modal fade" id="editPendidikan{{ pend.id_pendidikan }}" tabindex="-1" aria-labelledby="editPendidikanLabel{{ pend.id_pendidikan }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <form method="post" action="{% url 'edit_pendidikan' pend.id_pendidikan %}" enctype="multipart/form-data">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="editPendidikanLabel{{ pend.id_pendidikan }}">Edit Riwayat Pendidikan</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    {% csrf_token %}
                                                                    <div class="form-floating mb-1">
                                                                        <select name="tingkat_pendidikan" class="form-select" id="floatingSelectTingkatPendidikan" aria-label="Pilih Tingkat Pendidikan" required>
                                                                            {% for pilihan in pilihan_tingkat_pendidikan %}
                                                                                <option value="{{ pilihan.0 }}" {% if pend and pend.tingkat_pendidikan == pilihan.0 %}selected{% endif %}>{{ pilihan.1 }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <label for="floatingSelectTingkatPendidikan">Tingkat Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="lembaga_pendidikan" type="text" class="form-control" id="floatingLembagaPendidikan" placeholder="Lembaga Pendidikan" value="{{ pend.lembaga_pendidikan }}" required>
                                                                        <label for="floatingLembagaPendidikan">Lembaga Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="fakultas_pendidikan" type="text" class="form-control" id="floatingFakultasPendidikan" placeholder="Fakultas Pendidikan" value="{{ pend.fakultas_pendidikan }}">
                                                                        <label for="floatingFakultasPendidikan">Fakultas Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="jurusan_pendidikan" type="text" class="form-control" id="floatingJurusanPendidikan" placeholder="Jurusan Pendidikan" value="{{ pend.jurusan_pendidikan }}">
                                                                        <label for="floatingJurusanPendidikan">Jurusan Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="gelar_depan_pendidikan" type="text" class="form-control" id="floatingGelarDepanPendidikan" placeholder="Gelar Depan Pendidikan" value="{{ pend.gelar_depan_pendidikan }}">
                                                                        <label for="floatingGelarDepanPendidikan">Gelar Depan Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="gelar_belakang_pendidikan" type="text" class="form-control" id="floatingGelarBelakangPendidikan" placeholder="Gelar Belakang Pendidikan" value="{{ pend.gelar_belakang_pendidikan }}">
                                                                        <label for="floatingGelarBelakangPendidikan">Gelar Belakang Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="nomor_seri_ijazah_pendidikan" type="text" class="form-control" id="floatingNomorSeriIjazahPendidikan" placeholder="Nomor Seri Ijazah Pendidikan" value="{{ pend.nomor_seri_ijazah_pendidikan }}" required>
                                                                        <label for="floatingNomorSeriIjazahPendidikan">Nomor Seri Ijazah Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="tanggal_terbit_ijazah_pendidikan" type="date" class="form-control" id="floatingTanggalTerbitIjazahPendidikan" placeholder="Tanggal Terbit Ijazah Pendidikan" value="{{ pend.tanggal_terbit_ijazah_pendidikan }}" required>
                                                                        <label for="floatingTanggalTerbitIjazahPendidikan">Tanggal Terbit Ijazah Pendidikan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="file_ijazah_pendidikan" type="file" class="form-control" id="floatingFileIjazahPendidikan" required>
                                                                        <label for="floatingFileIjazahPendidikan">File Ijazah Pendidikan</label>
                                                                    </div>
                                                                    <!-- Tampilkan pesan jika data pendidikan ada dan File Ijazah Pendidikan sudah diunggah -->
                                                                    {% if pend %}
                                                                    {% if pend.file_ijazah_pendidikan %}
                                                                    {% if file_exists_pendidikan %}
                                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                                        File Ijazah Pendidikan sudah diunggah.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% else %}
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        File Ijazah Pendidikan belum diunggah. Silahkan unggah File Ijazah Pendidikan.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        File Ijazah Pendidikan belum diunggah. Silahkan unggah File Ijazah Pendidikan.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        File Ijazah Pendidikan belum diunggah. Silahkan unggah File Ijazah Pendidikan.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Button trigger modal hapus pendidikan -->
                                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deletePendidikan{{ pend.id_pendidikan }}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <!-- Modal hapus pendidikan -->
                                                <form action="{% url 'delete_pendidikan' pend.id_pendidikan %}" method="post">
                                                    {% csrf_token %}
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="deletePendidikan{{ pend.id_pendidikan }}" tabindex="-1" aria-labelledby="deletePendidikanLabel{{ pend.id_pendidikan }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="deletePendidikanLabel{{ pend.id_pendidikan }}">Hapus Riwayat Pendidikan</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Apakah Anda yakin menghapus Data Pendidikan ini?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-jabatan" role="tabpanel" aria-labelledby="nav-jabatan-tab" tabindex="0">
                                <div class="row">
                                    <div class="col d-flex align-items-center">
                                        <h3 class="card-title">Tabel Riwayat Jabatan</h3>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <!-- Button trigger modal tambah riwayat jabatan -->
                                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#tambahJabatan">
                                            <i class="bi bi-plus-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal tambah riwayat jabatan -->
                                <div class="modal fade" id="tambahJabatan" tabindex="-1" aria-labelledby="tambahJabatanLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <form method="post" action="{% url 'add_jabatan' %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="tambahJabatanLabel">Edit Riwayat Jabatan</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    <div class="form-floating mb-1">
                                                        <select name="nama_jabatan" class="form-select" id="floatingSelectNamaJabatan" aria-label="Pilih Jabatan" required>
                                                            {% for pilihan in pilihan_jabatan %}
                                                                <option value="{{ pilihan.0 }}">{{ pilihan.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="floatingSelectNamaJabatan">Jabatan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="nomor_sk_jabatan" type="text" class="form-control" id="floatingNomorSKJabatan" placeholder="Nomor SK Jabatan" required>
                                                        <label for="floatingNomorSKJabatan">Nomor SK Jabatan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="tanggal_sk_jabatan" type="date" class="form-control" id="floatingTanggalSKJabatan" placeholder="Tanggal SK Jabatan" required>
                                                        <label for="floatingTanggalSKJabatan">Tanggal SK Jabatan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="tmt_jabatan" type="text" class="form-control" id="floatingTMTJabatan" placeholder="TMT Jabatan" required>
                                                        <label for="floatingTMTJabatan">TMT Jabatan</label>
                                                    </div>
                                                    <div class="form-floating mb-1">
                                                        <input name="file_sk_jabatan" type="file" class="form-control" id="floatingFileSKJabatan" required>
                                                        <label for="floatingFileSKJabatan">File SK Jabatan</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <table id="tabelJabatan" class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Jabatan</th>
                                            <th scope="col">Nomor SK Jabatan</th>
                                            <th scope="col">Tanggal SK Jabatan</th>
                                            <th scope="col">TMT Jabatan</th>
                                            <th scope="col">File SK Jabatan</th>
                                            <th scope="col">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% if jabatan %}
                                        {% for jab in jabatan %}
                                        <tr>
                                            <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                                            <td class="align-middle">{{ jab.get_nama_jabatan_display }}</td>
                                            <td class="align-middle">{{ jab.nomor_sk_jabatan }}</td>
                                            <td class="align-middle">{{ jab.tanggal_sk_jabatan }}</td>
                                            <td class="align-middle">{{ jab.tmt_jabatan }}</td>
                                            <td class="align-middle">
                                                <!-- Button trigger link lihat file sk jabatan -->
                                                <a href="{% url 'download_sk_jabatan' jab.id_jabatan %}" class="btn" target="_blank">
                                                    <i class="bi bi-box-arrow-up-right"></i>
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <!-- Button trigger modal edit jabatan -->
                                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editJabatan{{ jab.id_jabatan }}">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                                <!-- Modal edit jabatan -->
                                                <div class="modal fade" id="editJabatan{{ jab.id_jabatan }}" tabindex="-1" aria-labelledby="editJabatanLabel{{ jab.id_jabatan }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <form method="post" action="{% url 'edit_jabatan' jab.id_jabatan %}" enctype="multipart/form-data">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="editJabatanLabel{{ jab.id_jabatan }}">Edit Riwayat Jabatan</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    {% csrf_token %}
                                                                    <div class="form-floating mb-1">
                                                                        <select name="nama_jabatan" class="form-select" id="floatingSelectNamaJabatan" aria-label="Pilih Jabatan" required>
                                                                            {% for pilihan in pilihan_jabatan %}
                                                                                <option value="{{ pilihan.0 }}" {% if jab and jab.nama_jabatan == pilihan.0 %}selected{% endif %}>{{ pilihan.1 }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <label for="floatingSelectNamaJabatan">Jabatan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="nomor_sk_jabatan" type="text" class="form-control" id="floatingNomorSKJabatan" placeholder="Nomor SK Jabatan" value="{{ jab.nomor_sk_jabatan }}" required>
                                                                        <label for="floatingNomorSKJabatan">Nomor SK Jabatan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="tanggal_sk_jabatan" type="date" class="form-control" id="floatingTanggalSKJabatan" placeholder="Tanggal SK Jabatan" value="{{ jab.tanggal_sk_jabatan }}" required>
                                                                        <label for="floatingTanggalSKJabatan">Tanggal SK Jabatan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="tmt_jabatan" type="text" class="form-control" id="floatingTMTJabatan" placeholder="TMT Jabatan" value="{{ jab.tmt_jabatan }}" required>
                                                                        <label for="floatingTMTJabatan">TMT Jabatan</label>
                                                                    </div>
                                                                    <div class="form-floating mb-1">
                                                                        <input name="file_sk_jabatan" type="file" class="form-control" id="floatingFileSKJabatan" required>
                                                                        <label for="floatingFileSKJabatan">File SK Jabatan</label>
                                                                    </div>
                                                                    <!-- Tampilkan pesan jika data jabatan ada dan File SK Jabatan sudah diunggah -->
                                                                    {% if jab %}
                                                                    {% if jab.file_sk_jabatan %}
                                                                    {% if file_exists_jabatan %}
                                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                                        File SK Jabatan sudah diunggah.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% else %}
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        File SK Jabatan belum diunggah. Silahkan unggah File SK Jabatan.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        File SK Jabatan belum diunggah. Silahkan unggah File SK Jabatan.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                        File SK Jabatan belum diunggah. Silahkan unggah File SK Jabatan.
                                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Button trigger modal hapus jabatan -->
                                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteJabatan{{ jab.id_jabatan }}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <!-- Modal hapus jabatan -->
                                                <form action="{% url 'delete_jabatan' jab.id_jabatan %}" method="post">
                                                    {% csrf_token %}
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="deleteJabatan{{ jab.id_jabatan }}" tabindex="-1" aria-labelledby="deleteJabatanLabel{{ jab.id_jabatan }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="deleteJabatanLabel{{ jab.id_jabatan }}">Hapus Riwayat Jabatan</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Apakah Anda yakin menghapus Data Jabatan ini?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-pangkat" role="tabpanel" aria-labelledby="nav-pangkat-tab" tabindex="0">...</div>
                            <div class="tab-pane fade" id="nav-angkakredit" role="tabpanel" aria-labelledby="nav-angkakredit-tab" tabindex="0">...</div>
                            <div class="tab-pane fade" id="nav-diklat" role="tabpanel" aria-labelledby="nav-diklat-tab" tabindex="0">...</div>
                        </div>
                        {% else %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Data Profil Anda belum lengkap! Silahkan melengkapi Data Profil Anda!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script>
        new DataTable('#tabelPendidikan');
        new DataTable('#tabelJabatan');
    </script>
</body>

</html>